*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.sp-between{
    justify-content: space-between;
}

.margin-auto{
    margin: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

body{
    font-family: sans-serif;
    font-weight: 700;
}

header{
    /*height: 150px;*/
    text-decoration: none;
    color: white;
    padding: 1rem 0;
}

.orange-bg{
    background-color: #FF6900;
}

.lateral-col{
    width: 20%;
}

.central-col{
    width: 80%;
    text-align: center;
}

header ul{
    list-style-type: none;
}

.bool-logo{
    width: 120px;
}

nav li{
    padding-right: 1rem;
}

.wrapper{
    width: 31%;
}

.row{
    margin-top: 3rem;
    justify-content: space-between;
}

.box{
    /*height: 700px;*/
    /*background-color: magenta;*/
}

main img{
    width: 100%;
}

.text{
    height: 50px;
    /*background-color: goldenrod;*/
}

