*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.sp-between{
    justify-content: space-between;
}

.margin-auto{
    margin: auto;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

body{
    font-family: sans-serif;
    font-weight: 700;
}

header{
    /*height: 150px;*/
    text-decoration: none;
    color: white;
    padding: 1rem 0;
}

.orange-bg{
    background-color: #FF6900;
}

.lateral-col{
    width: 20%;
}

.central-col{
    width: 80%;
    text-align: center;
}

header ul{
    list-style-type: none;
}

.bool-logo{
    width: 120px;
}

nav li{
    padding-right: 1rem;
}

.wrapper{
    width: 31%;
}

.row{
    margin-top: 3rem;
    justify-content: space-between;
}

main img{
    width: 100%;
}

.text{
    /*height: 50px;*/
    font-size: .9rem;
    /*background-color: goldenrod;*/
}

.brand{
    color: grey;
}

.prod-name{
    text-transform: uppercase;
}

.price{
    color: red;
    font-weight: 900;
}

.prev-price{
    color: darkslategray;
    text-decoration: line-through;
}

footer{
    /*height: 200px;*/
    margin-top: 4rem;
    color: white;
    font-size: .9rem;
    line-height: 1.6rem;
    padding: 1.3rem 0;
}

.dark-grey-bg{
    background-color: #1a1a1a;
}

.footer-main-col{
    width: 85%;
    /*background-color: aqua;*/
    /*height: 5rem;*/
}

.footer-secondary-col{
    width: 15%;
    /*background-color: blueviolet;*/
    /*height: 5rem;*/
    font-size: .7rem;
    font-weight: 900;
}

footer img{
    width: 25px;
}

footer ul{
    font-size: .7rem;
    font-weight: 200;
}

footer li{
    padding-right: 1.5rem;
    list-style-type: none;
}

#img-1:hover{
    content: url(../img/1b.webp);
}

#img-2:hover{
    content: url(../img/2b.webp);
}

#img-3:hover{
    content: url(../img/3b.webp);
}

#img-4:hover{
    content: url(../img/4b.webp);
}

#img-5:hover{
    content: url(../img/5b.webp);
}

#img-6:hover{
    content: url(../img/6b.webp);
}

.mini-box{
    color: white;
    font-size: .9rem;
    padding: .3rem .5rem;
    margin-right: 5px;
}

.green-box{
    background-color: green;
    top: 420px;
    left: 55px;
}

.red-box{
    background-color: red;
    top: 420px;
}

.white-box{
    height: 30px;
    width: 30px;
    background-color: white;
    top: 20px;
    right: 0;
    display: flex;
    font-size: 2rem;
    line-height: 1.2rem;
    margin: 0 auto;
    padding-left: 6px;
    padding-top: 4px;
}

.white-box:hover{
    color: red;
}
